/* story section */
.hero {
  padding-block: 1.5rem;
}

/* column on mobile, row on desktop */
.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* main article */
.hero__article {
  display: flex;
  flex-direction: column;
}

/* text area below the hero image */
.hero__text {
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* title and description next to each other on laptop view */
.hero__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 48em) {
  .hero__text {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero__title {
    flex: 1;
  }

  .hero__details {
    flex: 1;
    padding-left: 1.5rem;
  }
}

@media (min-width: 64em) {
  .hero__inner {
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
  }

  .hero__article {
    flex: 1;
  }

  .hero__text {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero__title {
    flex: 1;
  }

  .hero__details {
    flex: 1;
    padding-left: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
  }
}
