.container {
  border: 2px dashed #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.box {
  width: 150px;
  height: 50px;
  background-color: #3498db;
  color: white;
  margin: 10px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease;
}

/* --- Reset methods --- */

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.transparent {
  opacity: 0;
}

.container:hover .box {
  display: block; /* This won't animate */
  visibility: visible;
  opacity: 1; /* This will animate */
}
