@use "../abstracts/variables" as *;

// reset all default styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $color-bg;
  color: $color-text;
}
