* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #764ba2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background: #ffffff;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}


h2 {
    margin-bottom: 25px;
    font-size: 24px;
}

p {
    color: #666;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="number"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #764ba2;
}

.btn {
    width: 100%;
    padding: 15px;
    background: #764ba2;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #5d3b80;
    box-shadow: 0 2px 12px #5d3c90;
}