/* section that wraps all cards */
.card-section {
  padding-block: 2rem;
}

/* cards stacked on mobile, row on tablet*/
.card-section__row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 48em) {
  .card-section__row {
    flex-direction: row;
    gap: 1.5rem;
  }
}
