// Grid

:root {
  --grid-side-gutter: 1.5rem; // 24px mobile

  @include media-breakpoint-up(md) {
    --grid-side-gutter: 2rem; // 32px tablet
  }

  @include media-breakpoint-up(lg) {
    --grid-side-gutter: 4rem; // 64px desktop
    --grid-gutter: 2rem; // 32px column gap
  }

  @include media-breakpoint-up(xxl) {
    --grid-side-gutter: 8.4375rem; // 135px wide screens
  }
}

.container,
.container-fluid {
  padding-left: var(--grid-side-gutter);
  padding-right: var(--grid-side-gutter);
}
