* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 40px 20px;
    background-color: #b3cff7;
}

.container {
    margin: 0 400px;
    padding: 40px;
    border-radius: 16px;
    background-color: white;
}

h1 {
    font-size: 24px;
    color: blue;
    margin-bottom: 12px;
}

.form-field {
    margin-bottom: 22px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px 14px;
    border: 2px solid #c1baba;
    font-size: 15px;
    color: #333;
}


.checkbox-group {
    color: #774c4c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8px;
}

button {
    width: 120px;
    padding: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: #4a4af4;
}

.error { 
    color: red; 
    font-size: 12px; 
    margin-top: 4px; 
    display: block; 
}

