/* name */
.profile-info__name {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
}

/* role - text below name */
.profile-info__role {
  font-size: 13px;
  color: var(--text-mid);
  margin-bottom: 8px;
}
